<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <title>Lar de Adoção</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="laradocao.css">
  <link rel="stylesheet" href="modal.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="icon.ico" type="image/x-icon"/>
</head>
<body>
  <div class="row">
    <div class="container text-center">
      <h1>ADO<span id="dest">CÃO</span></h1>      
      <p>Adote um amiguinho!</p>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand">ADOCÃO</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><%= link_to('Home', pagina_inicial_index_path) %></li>
          <li><%= link_to('Contate-nos', contato_index_path) %></li>
          <% if user_signed_in? && !current_user.isAdmin?%> 
            <li><%= link_to('Minhas Visitas', visitas_agendadas_path) %></li>
          <% end %>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? && current_user.isAdmin? %>
            <li><a>Olá, administrador!</a></li>
            <li><%= link_to('Usuários', cadastro_usuarios_index_path) %></li>
            <li><%= link_to('Cãezinhos', cadastro_cachorros_path) %></li>
            <li><%= link_to('Visitas', visitas_agendadas_path) %></li>
            <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li> 
          <% elsif user_signed_in? && !current_user.isAdmin? %> 
            <li><a>Olá, Usuário!</a></li>
            <li><%= link_to('Editar Perfil', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li> 
          <% else %>     
            <li><a>Bem Vindo(a), Visitante!</a></li>
            <li><%= link_to('Login', new_user_session_path) %></li> 
            <li><%= link_to('Cadastrar', new_user_registration_path) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">    
<h2>Editar Cadastro</h2><hr>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  
  <div class="form-group">
    <%= f.label :Novo_nome %><br/>
    <%= f.text_field :name, placeholder: "Nome", class:"form-control", autofocus:true, required:true, autocomplete:"name" %>
  </div>

<div class="form-group">
    <%= f.label :'Novo_telefone' %><i>&nbsp(Apenas Números)</i><br/>
    <%= f.text_field :telefone, id:"uintTextBox", placeholder: "Telefone", class:"form-control", minlength:"11", maxlength: "11", required:true, autocomplete:"telefone"%>
  </div>

   <div class="form-group">
    <%= f.label :Novo_email %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "Email", class:"form-control", autocomplete: "email", required:true %>
  </div>

   <div class="form-group">
    <%= f.label :Senha_atual %> <i>(É necessária para mudar as informações)</i><br/>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Senha Atual", class:"form-control", required:true, minlength:"6", maxlength: "20" %>
  </div>

  <div class="form-group">
    <%= f.label :Nova_senha%>
    <% if @minimum_password_length %>
      <i>(Mínimo <%= @minimum_password_length %> caracteres)</i>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Nova Senha", class:"form-control", minlength:"8", maxlength: "20" %>
  </div>
     
  <div class="form-group">
    <%= f.label :Repetir_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repetir Senha", class:"form-control" %>
  </div>

  <div class="actions">
    <button type="Submit" class="btn btn-info">Editar</button>
  </div>
  
<% end %>
</div>

<script>
function setInputFilter(textbox, inputFilter) {
  ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
    textbox.addEventListener(event, function() {
      if (inputFilter(this.value)) {
        this.oldValue = this.value;
        this.oldSelectionStart = this.selectionStart;
        this.oldSelectionEnd = this.selectionEnd;
      } else if (this.hasOwnProperty("oldValue")) {
        this.value = this.oldValue;
        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
      }
    });
  });
}
setInputFilter(document.getElementById("uintTextBox"), function(value) {
  return /^\d*$/.test(value); });
</script>

