  .deco-none {
    color:#ffffff !important;
    text-decoration:none !important;
    background-color:transparent !important;
  }
  td {vertical-align: bottom}
  .btn-xl {
    padding: 30px 20px;
    font-size: 20px;
    border-radius: 10px;
    width:100%;
}
  .vertical-center {
    height:-5px
  }
	img#banner{
	  width: 80px;
	  float: right;
	}
	
  span#dest{
    color:#4da6ff;
  }

  nav > .navbar {
    border-radius: 0;
    background-color:#ffcc99;
  }

    .jumbotron {
    margin-bottom: 0;
  }

  .col-sm-4 > .panel{
   	background-color:#f2f2f2;
  	border: 1px solid #cccccc;
  }
     
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

  .btn-primary{
    padding-left: 100px;
  }
  
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
  }  
    
    